@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background: rgb(231, 234, 246);
  background: $gradient;
}
ul{
  list-style: none;
}

.link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container{
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}
