@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;700;900&display=swap");

$lightest-color: #e7eaf6;
$light-color:  #a2a8d3;
$dark-color: #38598b;
$darkest-color: #113f67;

$font-family: "Geologica", sans-serif;
$gradient: linear-gradient(185deg, rgba(231, 234, 246, 1) 0%, rgba(162, 168, 211, 1) 100%);