@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;700;900&display=swap");

$lightest-color: #dad7cd;
$light-color:  #a3b18a;
$dark-color: #588157;
$darkest-color: #3a5a40;

$font-family: "Geologica", sans-serif;
$gradient: linear-gradient(185deg, $dark-color 0%, $light-color 30%, $lightest-color 100%);