@import "../../assets/responsive.scss";

.table {
  margin: 2rem 0;

  .dataGrid {
    background-color: white;
    padding: 1rem 0.5rem;
    font-family: inherit;
    
    @include md {
      font-size: 1.6rem;
    }

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    .MuiDataGrid-cell {
      &:focus {
        outline: none;
      }
    }

    input{
      @include md {
        font-size: 1.6rem;
      }
    }

    .action {
      display: flex;
      gap: 1rem;

      svg {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }
}
