@import "../../assets/variables.scss";
@import "../../assets/responsive.scss";
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 2rem 0;

  h1 {
    color: white;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    transition: all 0.5s;

    @include md {
      font-size: 4rem;
    }

    span {
      color: $lightest-color;
      text-transform: uppercase;
    }
  }

  p {
    color: black;
    margin: 1rem auto;
    transition: all 0.5s;

    @include md {
      width: 50%;
    }
  }

  hr {
    margin: 2rem 0;
    border: 0.1rem solid $lightest-color;
  }

  .locations {
    .location {
      display: flex;
      flex-direction: column;
      transition: all 1s;

      @include md {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }


      .field {
        display: flex;
        flex-direction: column;
        text-align: left;
        transition: all 1s;

        @include md {
          flex: 1;
          margin: 0 1rem;
          flex-direction: row;
        }

        label {
          font-weight: bold;
          font-size: 1.4rem;
          margin: 0.5rem 0;
          transition: all 1s;

          @include md {
            margin-right: .5rem;
          }
        }
        input {
          border: none;
          outline: none;
          font-size: 1.4rem;
          padding: 0.5rem 0.5rem;
          font-family: inherit;
          border-radius: 0.5rem;
          transition: all 1s;

          @include md {
            width: 100%;
          }
        }

      }
    }

    .instruction{
      text-transform: uppercase;
      margin: 1rem 0;
      font-weight: bold;
      color: $darkest-color;
      width: 100%;
      text-align: center;
    }

    .realTime {
      margin: 0 0 2rem;
      .btn {
        display: block;
        width: 100%;
      }
    }
  }

  .btn {
    background-color: $lightest-color;
    color: $darkest-color;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    border-radius: 2rem;
    transition: all 0.5s;
    cursor: pointer;

    @include sm {
      font-size: 1.6rem;
    }

    &:hover {
      color: $light-color;
      background-color: $darkest-color;
    }
  }

}
