@import "../../assets/responsive.scss";
@import "../../assets/variables.scss";
.map{
    margin: 2rem 0;
    .leaflet-container{
        height: 50rem;
        width: 100%;
        border: .3rem solid $darkest-color;
    }
}