@import "../../assets/responsive.scss";
@import "../../assets/variables.scss";

.addModal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $darkest-color, $alpha: 0.724);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal{
        padding: 1rem;
        margin: 0 1rem ;
        border-radius: 1rem;
        background-color: $lightest-color;
        position: relative;
        max-height: 90%;
        overflow-y: auto;

        @include md{
            padding: 5rem;
        }

        h1{
            margin-bottom: 4rem;
            font-size: 2.4rem;
            color: $darkest-color;
        }

        .close{
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
            font-weight: bold;
            color: $darkest-color;
        }

        form{
            display: flex;
            max-width: 50rem;
            justify-content: space-between;
            flex-wrap: wrap;

            .item{
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 2rem;

                label{
                    font-size: 1.4rem;
                }

                input{
                    padding: 1rem;
                    background-color: transparent;
                    color: black;
                    outline: none;
                    border: .1rem solid $darkest-color;
                    border-radius: .3rem;
                }

            }

            button{
                width: 100%;
                padding: 1rem;
                cursor: pointer;
                margin: .5rem 0;
                background-color: $lightest-color;
                color: $darkest-color;
                font-size: 1.2rem;
                text-decoration: none;
                text-transform: uppercase;
                font-family: inherit;
                font-weight: bold;
                border-radius: 2rem;
                transition: all 0.5s;
                
            
                @include sm {
                  font-size: 1.6rem;
                }
                &:hover {
                  color: $light-color;
                  background-color: $darkest-color;
                }
            }
        }
    }
}